<h3>Rock Paper Scissors</h3>
<h4>Round {{rounds}}</h4>
<div>
    <div>
        <h4>Player 1</h4>
        <button (click)="playRound('rock')">Rock</button>
        <button (click)="playRound('paper')">Paper</button>
        <button (click)="playRound('scissors')">Scissors</button>
        <br />
        <p *ngIf="playerChoice == 'Pick One'; else choiceMade">{{playerChoice}}</p>
        <ng-template #choiceMade>Selection: {{playerChoice}}</ng-template>
    </div>
    <h4>{{playerScore}}</h4>
</div>
<div>{{result}}</div>

<div>
    <div>
        <h4>Computer</h4>
        <br />
        <p *ngIf="compChoice == 'Waiting for your selection'; else gameStarted">{{compChoice}}</p>
        <ng-template #gameStarted>Computer selected: {{compChoice}}</ng-template>
    </div>
    <h4>{{compScore}}</h4>
</div>

<button (click)="reset()">Reset</button>


